body{
    background-color: black;
    width: 100%;
    text-align:center;
    vertical-align: middle;
}

button {
    width: 15em;
    height: 5em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    margin: 4em 0 4em 0;
}


img{
    width: 50%;
    box-sizing: border-box;
}
/* 
@media screen and (max-width:480px) {

    button {
        margin: 50% 60% 0;
        height: 100px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 2rem;
    }
    
    
    img{
        width: 80em;
        margin: 60% 20%;
    }

}  */