body{
    background-color: black;
}

button {
    margin: 5% 35% 0;
    width: 400px;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    height:50%;
    width:100%;
}

#result{
    width: 600px;
    height: 600px;
    margin:1% auto;
}

img{
    width: 600px;
}