*{
    margin:0;
    padding:0;
}

body{
    background-color: black;
    width: 100%;
    text-align:center;
    vertical-align: middle;
}

button {
    width: 15em;
    height: 3em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    margin: 4em 0 4em 0;
}


img{
    width: 22em;
    box-sizing: border-box;
}
